body {
	background-color: #EAF1D7;
	font-family: 'Gen Shin Gothic P', sans-serif;
	color: #708070;
}

a {
	color: #606F60;
}

div.header_container p {
	text-align : right;
}

textarea, input {
	background-color: rgba(255, 255, 255, 0.6);
	color: #708070;
	font-family: 'Gen Shin Gothic P', sans-serif;
	border: 1px solid #dae1da;
	border-style: solid;
	border-width: 1px;
}

button {
	background-color: rgba(255, 255, 255, 0.6);
	font-family: 'Gen Shin Gothic P', sans-serif;
	color: #708070;
	border: 1px solid #dae1da;
}

button:disabled {
	color: #B0B0B0;
}

h1 {
	font-weight: 200;
	text-align: center;
}

h2 {
	font-weight: 300;
	font-size : 150%;
	margin-bottom: 0px;
	text-align: center;
}

p.control {
	font-size: 85%;
}

p.control a:visited {
	color: inherit;
}

p.control a:link {
	color: inherit;
}

div.point-you-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.point-you-container p {
	display: inline;
}

div.point-you-subject p {
	vertical-align: middle;
}

div.point-you-container p.value {
	vertical-align: middle;
	font-size: 24pt;
}

div.counter-button-container, div.counter-checkbox-container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: none;
}

div.counter-checkbox-container {
	margin-bottom : 10px;
}

div.counter-button-container button {
	width: 25%;
	min-width: 350px;
	height: 100px;
	font-size: 16pt;
}

div.counter-difficulty-select-container {
	text-align : center;
	margin-bottom : 10px;
	display: none;
}

div.counter-checkbox {
	display : inline-block;
	border : 1px solid #809180;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 5px;
	cursor: default;
}

div.login-form-container {
	width: 350px;
}

div.login-form-row div.login-form-left {
	width: 25%;
}

div.login-form-row div.login-form-right {
	width: 70%;
}

div.login-form-row div, div.login-button-container div {
	display: inline-block;
}

div.login-form-row div#login-form-message {
	color: #800000;
}

.modal-container h2 {
	margin: 5px;
}

.login-form-container input {
	width: 100%;
	height: 35px;
}

div.login-button-container div {
	width: 47%;
	margin: 1%;
}

div.login-button-container div.login-button-cancel {
	text-align: left;
}

div.login-button-container div.login-button-submit {
	text-align: right;
}

div.login-button-container div.login-button-cancel button {
	height: 35px;
}

div.login-button-container div.login-button-submit button {
	width: 50%;
	height: 35px;
}

@media screen and (min-width: 481px) {
	div.delete-button-container {
		width: 600px;
		text-align : right;
	}
}
@media screen and (max-width: 480px) {
	div.delete-button-container {
		width: 350px;
		text-align : right;
	}
}

div.delete-button-container div {
	display: inline-block;
}

div.delete-button-container div.delete-button-cancel button {
	width : 100px;
	height: 35px;
}

div.delete-button-container div.delete-button-submit button {
	width: 100px;
	height: 35px;
}

div.modal-error-message-button-container {
	text-align: center;
}

div.modal-error-message-button-container button {
	height: 35px;
}

table.display {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}

table.display td {
	text-align : center;
}

table.display thead {
	border-bottom-width : 2px;
	border-bottom-style : solid;
	border-bottom-color : #809180;
}

/* https://manabiact.com/html-modal-window/ */
/*
.open, .close {
	border: 1px solid #333333;
	width: 120px;
	cursor: pointer;
	background-color: darkgray;
}
*/

.modal-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/*width: 300px;
	height: 130px;*/
	min-width: 300px;
	background-color: #EAF1D7;
	display: none;
	z-index: 2;
	padding: 10px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	display: none;
}